.evidence__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  max-width: 500px;
}

.evidence__button {
  background-color: $bone;
  border-radius: 50%;
  border: 0;
  box-shadow: inset 0 0 0 1px $charcoal;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  margin: 0 5px;
  outline: 0;
  padding: 10px;
  text-transform: uppercase;
  transition: box-shadow .2s;
  width: 50px;

  svg {
    width: 100%;
  }

  path {
    transition: fill .2s;
  }

  &:hover {
    path {
      fill: $silver;
    }
  }

  &--active {
    background-color: $blue;
    color: $bone;

    path {
      fill: $bone;
    }

    &:hover {
      path {
        fill: $bone;
      }
    }
  }
}
