.evidence__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  max-width: 500px;
}

.evidence__button {
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  margin: 0 3px;
  outline: 0;
  padding: 10px;
  text-transform: uppercase;
  transition: box-shadow .2s;
  width: 50px;

  svg {
    width: 100%;
  }

  path {
    transition: fill .2s;
  }

  &:hover {
    path {
      fill: $silver;
    }
  }

  &--light {
    background-color: $bone;
    box-shadow: inset 0 0 0 1px $charcoal;

    path {
      fill: $charcoal;
    }
  }

  &--dark {
    background-color: $charcoal;
    box-shadow: inset 0 0 0 1px $bone;

    path {
      fill: $bone;
    }
  }

  &--light-active {
    background-color: $charcoal;
    color: $bone;

    path {
      fill: $bone;
    }

    &:hover {
      path {
        fill: $bone;
      }
    }
  }

  &--dark-active {
    background-color: $bone;
    color: $charcoal;

    path {
      fill: $charcoal;
    }

    &:hover {
      path {
        fill: $charcoal;
      }
    }
  }
}

.evidence__button--light[disabled] {
  box-shadow: inset 0 0 0 1px $platinum;

  path {
    fill: $platinum;
  }
}

.evidence__button--dark[disabled] {
  box-shadow: inset 0 0 0 1px $jet;

  path {
    fill: $jet;
  }
}
