footer {
  align-items: center;
  background-color: $charcoal;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;

  span {
    display: block;
    font-size: 12px;
    font-family: $body;
    margin: 5px 0;
  }

  a {
    font-family: $body;
    text-decoration: none;
    color: $platinum;
    margin: 5px 0;
  }
}

.button__dark-mode {
  background-color: $charcoal;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 0 1px $bone;
  color: $bone;
  cursor: pointer;
  font-family: $body;
  height: 50px;
  margin: 20px 0;
  padding: 15px;
  transition: box-shadow 300ms ease-in-out;
  width: 50px;

  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 0 2px $bone;
  }

  path {
    fill: $bone;
  }
}
