.ghost-details__wrapper {
  width: 100%;
  padding: 15px;
  text-align: center;
  border-top: 1px dotted $charcoal;
  border-bottom: 1px dotted $charcoal;

  h2 {
    font-family: $header;
    margin: 0;
  }

  ul {
    margin-top: 20px;
  }

  li {
    margin: 5px 0;
  }
}
