.ghost-details__wrapper {
  width: 100%;
  padding: 15px;
  text-align: center;
  position: relative;

  h2 {
    font-family: $header;
    margin: 0;
  }

  ul {
    margin-top: 20px;
  }

  li {
    margin: 5px 0;
  }

  &--light {
    border-top: 1px dotted $charcoal;
    border-bottom: 1px dotted $charcoal;
    color: $charcoal;
  }

  &--dark {
    border-top: 1px dotted $bone;
    border-bottom: 1px dotted $bone;
    color: $bone;
  }
}

.ghost-details__close-button {
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  font-family: $header;
  font-size: 18px;
}
