@import './reset';
@import './accessibility';
@import './globals';
@import './evidence';
@import './ghost-details';
@import './ghosts';
@import './footer';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.journal__wrapper {
  padding: 0 15px;
}
