@import './reset';
@import './accessibility';
@import './globals';
@import './evidence';
@import './ghost-details';
@import './ghosts';
@import './footer';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 18px;

  &--light {
    background-color: $bone;

    h1, h2, h3, h4, h5, h6 {
      color: $charcoal;
    }

    footer h1 {
      color: $bone;
    }
  }

  &--dark {
    background-color: $charcoal;

    h1, h2, h3, h4, h5, h6 {
      color: $bone;
    }

    footer h1 {
      color: $bone;
    }
  }
}

.journal__wrapper {
  padding: 0 15px;
}
